[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/franz-ms-muc
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/franz-ms-muc
	label-Verified = -1..+1 group user/franz-ms-muc
	push = group user/franz-ms-muc
	read = group user/franz-ms-muc
	rebase = group user/franz-ms-muc
	removeReviewer = group user/franz-ms-muc
	submit = group user/franz-ms-muc
[access "refs/heads/*"]
	create = group user/franz-ms-muc
	push = +force group user/franz-ms-muc
	pushMerge = group user/franz-ms-muc
	read = group user/franz-ms-muc
[access "refs/tags/*"]
	push = group user/franz-ms-muc
	push = +force group user/franz-ms-muc
